<!-- SECTION 3: project -->
<section id="projects" class="project-grid-section">
    <h2>Projects</h2>

    <div class="grid-container">
        {% comment %} Sort published projects by 'order' first, then those without 'order' {% endcomment %}
        {% assign visible_projects = site.projects | where_exp: "p", "p.published != false" %}
        {% assign with_order = visible_projects | where_exp: "p", "p.order" | sort: "order" %}
        {% assign without_order = visible_projects | where_exp: "p", "p.order == nil" %}
        {% assign sorted_projects = with_order | concat: without_order %}
        {% for item in sorted_projects %}
    <a href="{{ item.url }}" class="project-link">
        <div class="project-card">
            {% assign main = item['main-image'] | default: '' | remove_first: '/' %}
            {% assign base_url = item.url | replace: '/index/', '/' %}
            {% assign image_path = base_url | append: main %}
            <img src="{{ image_path }}" alt="{{ item.title }} image">
            <h3 class="project-title">{{ item.title }}</h3>
            <div class="project-skills">
                {% for skill in item.skills %}
                    <span class="skill">{{ skill }}</span>
                {% endfor %}
            </div>
            <p class="project-description">{{ item.description }}</p>
            <button class="read-more">Read more →</button>
        </div>
    </a>
{% endfor %}
    </div>


 </section>
